:root{
    /* Fondo principal */
    --bg-main-light: #f8f1e8;
    /* Cards */
    --cards-light: #cac1c1;
    /* Texto principal */
    --text-main-light: #262626;
    /* Fondo interactivo */
    --bg-interactive-light: #3af5d1;
    /* hover */
    --hover-light: #eba716;
    /* active */
    --active-light: #b44e26;
    /* Formulario */
    --form-background: #F9F9F4; /* Fondo del formulario */
    --form-title-text: #F2F2F2; /* Texto del título del formulario */
    --form-title-background: #88B04B; /* Fondo del título del formulario */
    --form-input-background: #FFFFFF; /* Fondo de los inputs */
    --form-input-border: #D8E3D8; /* Bordes de los inputs */
    --form-input-focus: #6C8E5D; /* Borde al enfocar */
    --form-input-text: #2C3E3D; /* Texto en los inputs */

    /* Botones */
    --button-background: #88B04B; /* Fondo del botón */
    --button-text: #FFFFFF; /* Texto del botón */
    --button-hover: #6C8E5D; /* Fondo del botón al pasar el mouse */
    --button-disabled: #D8E3D8; /* Fondo del botón deshabilitado */
    
    /* Tema oscuro */

    /* Fondo Principal */
    --bg-main-dark: #1f1f1f;
    /* Cards */
    --cards-dark: #26242e;
    /* Texto Principal */
    --text-main-dark: #eaeaea;
    /* Fondo interactivo */
    --bg-interactive-dark: #8983f7;
    /* hover */
    --hover-dark: #a86109;
    /* active */
    --active-dark: #863117;
    /* Formulario */
    --form-background: #1e3f2f; /* Fondo del formulario */
    --form-title-text: #d9e8d3; /* Texto del título del formulario */
    --form-title-background: #2e4a3c; /* Fondo del título del formulario */
    --form-input-background: #1b2d24; /* Fondo de los inputs */
    --form-input-border: #3a4e44; /* Bordes de los inputs */
    --form-input-focus: #5e7f63; /* Borde al enfocar */
    --form-input-text: #e8f0e9; /* Texto en los inputs */

    /* Botones */
    --button-background: #6C8E5D; /* Fondo del botón */
    --button-text: #FFFFFF; /* Texto del botón */
    --button-hover: #88B04B; /* Fondo del botón al pasar el mouse */
    --button-disabled: #4A5D4B; /* Fondo del botón deshabilitado */

}
body{
    /* Transiciones de estado */
transition: background-color 0.5s ease, color 0.5s ease;
}

[data-theme="dark"]{
    transition: background-color 0.5s ease, color 0.5s ease;
}

/* Dark mode */
.dark-card{
    background-color: var(--cards-dark);
    color: var(--text-main-dark);
  }
  .dark-card:hover{
    background-color: var(--hover-dark);
  }
  .dark-card:active{
    background-color: var(--active-dark);
  }

/* Animaciones */

@keyframes vibrate
{0%{transform:translate(0)}
20%{transform:translate(-2px,2px)}
40%{transform:translate(-2px,-2px)}
60%{transform:translate(2px,2px)}
80%{transform:translate(2px,-2px)}
100%{transform:translate(0)}}

@keyframes shake-left-right{
  0%,
  100%{transform:rotate(0deg);transform-origin:50% 50%}
  10%{transform:rotate(8deg)}
  20%,40%,60%{transform:rotate(-10deg)}
  30%,50%,70%{transform:rotate(10deg)}
  80%{transform:rotate(-8deg)}
  90%{transform:rotate(8deg)}
}

@keyframes loading1274 {
  0% {
    width: 0%;
  }

  10% {
    width: 10%;
  }

  50% {
    width: 40%;
  }

  60% {
    width: 60%;
  }

  100% {
    width: 100%;
  }
}

@keyframes progress-animation{
	from{
		width: 100%;
	}
	to{
		width: 0%;
	}
}

