*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--bg-main-light);
    color: var(--text-main-light);
    font-size: 1.3rem;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    display: grid;
    grid-template-columns: 250px 2fr;
    grid-template-rows: 200px 1fr 50px;
    border-radius: 10px;
    margin: 1rem;
    padding: .5rem;
    gap:15px;
    height: 100vh;
}
header{
    grid-column: 2/3;
    grid-row: 1/2;
    border-radius: 10px;
}
main{
    border-radius: 10px;
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    gap: 15px;  
    grid-template-columns: 1fr,400px;
}
aside{
    border-radius: 10px;
    grid-column: 1/2;
    grid-row: 1/3;
}
footer{
    border-radius: 10px;
    grid-column: 1/3;
    grid-row: 3/4;
    height: 50px;
}
label{
    margin-bottom: .2rem;
    font-weight: bold;
    padding: .2rem;
    text-align: flex-start;
}
input, select, textarea {
    padding: .8rem;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 1.2rem;
    height: 60px;
}
/* Barra de carga */
.progress-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(13, 46, 230, 0.308);
    height: 10px;
    display: none;
    z-index: 1;
}

.progress {
    content: '';
    height: 10px;
    border-radius: 10px;
    background: rgb(71, 28, 226);
    transition: 0.5s;
    animation: loading1274 2.5s ease;
}
/* Estilos generales para el darkmode */
.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    transition: all .3s;
    transition: transform 400ms, box-shadow 400ms;
    background-color: var(--cards-light); /* Fondo por defecto */
}
input[type="file"]{
    display: none;
}
.input-file-label{
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    background: #f34a56;
    text-align: center;
    padding: 1rem 1.8rem;
    border-radius: 10px;
    font-size: 1.2rem;
    letter-spacing: .1rem;
    user-select: none;
    cursor: pointer;
    box-shadow: 5px 5px 0 0 rgba(13, 46, 230, 0.308);
}
.input-file-label:active{
    transform: scale(0.9);
}
.upload-btn{
    display: inline-block;
    margin-top: 1rem;
    background: #4caf50;
    color:#fff;
    border: none;
    padding: .8rem 1.5rem;
    font-size: 1.2rem;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 5px 5px 0 0 rgba(13, 46, 230, 0.308);
    transition: all .2s ease;
    border-radius: 10px;
}
.upload-btn:hover{
    background: #45a049;
}
.upload-btn:active{
    transform: scale(0.9);
}

/* Alerts Dinamicos*/

.custom-alert{
	position: relative;
	padding: 0rem 0rem 1rem 0rem;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	justify-content: center;
	align-items: center;
	background-color: var(--button-disabled);
	color: var(--form-input-text);
	width: 90%;
	max-width: 500px;
	text-align: center;
}
.alert-progress-bar{
	width: 100%;
	height: 20px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.bar-content{
	display: block;
	animation: progress-animation linear 5s;
	width: 100%;
	height: 18px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.green1{
	background-color: var(--color-secondary);
}
.green{
	background-color: var(--color-primary);
}
.red1{
	background-color:  #ff4242;
}
.red{
	background-color: #d31414
}
.blue1{
	background-color: #1877F2;
}
.blue{
	background-color: #7baff3;
}

.alert-img{
	width: 150px;
	height: 150px;
	border-radius: 10px;
	margin-bottom: .1rem;
}
.alert-text{
	padding: .6rem ;
	margin: 0 1rem;
	background-color: var(--button-background);
	border-radius: 10px;
	color: var(--button-text);
	text-align: center;
	font-size: 1.6rem;
	font-weight: bold;
}

.alert-text-error{
	padding: 1rem ;
	margin: 0 1rem;
	background-color: #bb2929;
	border-radius: 10px;
	color: var(--button-text);
	text-align: center;
	font-size: 1.5rem;
	font-weight: bold;
	
}
.alert-text-info{
	padding: 1rem ;
	margin: 0 1rem;
	background-color: #1b69cf;
	border-radius: 10px;
	color: var(--button-text);
	text-align: center;
	font-size: 1.5rem;
	font-weight: bold;
	
}

.custom-alert-error{
	box-shadow: 2px 2px 8px 4px #7a2323;
}
.custom-alert-success{
	box-shadow: 2px 2px 8px 4px var(--button-hover);
}
.custom-alert-info{
	box-shadow: 2px 2px 8px 4px #5994e0;
}
/* Contenedor del Alert del formulario/errores */
.alert-overlay{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 3;
}


@keyframes progress-animation{
	from{
		width: 100%;
	}
	to{
		width: 0%;
	}
}
