*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--bg-main-light);
    font-size: 1.5rem;
    font-weight: 650;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--text-main-light);
}
.container{
    display: grid;
    grid-template-columns: 200px repeat(3,1fr);
    grid-template-rows: 150px repeat(3,1fr) 150px;
    border-radius: 10px;
    margin: 1rem;
    padding: .5rem;
    gap: 10px;
}
header{
    border-radius: 10px;
    grid-column: 2/5;
    grid-row: 1/2;
}
main{
    border-radius: 10px;
    grid-column: 2/5;
    grid-row: 2/5;
}
aside{
    border-radius: 10px;
    grid-column: 1/2;
    grid-row: 1/6;
}
footer{
    border-radius: 10px;
    grid-column: 2/5;
    grid-row: 5/6;
}
/* Estilos generales para el darkmode */
.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    transition: all .3s;
    transition: transform 400ms, box-shadow 400ms;
    background-color: var(--cards-light); /* Fondo por defecto */
}
/* Estilos para el formulario */
.form{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    padding: .8rem;
    margin: .8rem;
    box-shadow: 0 10px 20px rgba(68, 68, 68, 0.4);
}
.last-row-container{
	grid-column: 1/4;
	display: grid;
	grid-template-columns: repeat(2,400px);
	justify-content: space-evenly;
	align-items: stretch;
	gap: 15px;
}
.submit-btn{
	grid-column: 2/3;
	height: 55px;
	font-size: 1.2rem;
	border-radius: 10px;
	border: none;
}
.form-item{
    display: flex;
    flex-direction: column;
    padding: .5rem;
}

.formulario__label {
	display: block;
	font-weight: 600;
	padding: 5px 0;
	cursor: pointer;
}

.formulario__label:hover{
	color: var(--color-primary);
	transition: .3s ease-in;
}

.formulario__grupo-input {
	position: relative;
}

.formulario__input {
	transition: all 0.2s ease;
	outline: none;
	width: 100%;
	background: var(--form-input-background);
	color: var(--form-input-text);
	border: 2px solid #264143;
	border-radius: 4px;
	font-size: 15px;
	height: 45px;
	line-height: 45px;
	padding: 0 25px 0 10px;
	transition: .3s ease all;
}

.formulario__input:focus {
	border: 3px solid var(--form-input-focus);
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}
.fomrmulario__input:focus-visible{
	outline: 3px solid
	var(--color-primary);
	box-shadow: 0 0 10px
	var(--color-primary);
}
.formulario__input, .formulario__btn{
	transition: all 0.3s ease-in-out;
}
.formulario__input::placeholder{
	color: var(--color-shadow);
	font-style: italic;
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 2;
	font-size: 16px;
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
}

.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 1;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn {
	padding: 15px;
	margin: 25px 0px;
	width: 75%;
	font-size: 15px;
	background: var(--button-background);
	color: var(--button-text);
	border-radius: 10px;
	border: none;
	font-weight: 800;
	box-shadow: 3px 3px 0px 0px var(--button-hover);
}

.formulario__btn:hover {
	background: #145214;
	color: #f2f2f2;
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
}
.formulario__btn:focus-visible{
	outline: 3px solid
	var(--color-primary);
}

.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}

/* Alerts Dinamicos*/
/* Contenedor del Alert del formulario/errores */
.alert-overlay{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 3;
}

.custom-alert{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: 0rem 0rem 1rem 0rem;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	justify-content: center;
	align-items: center;
	background-color: var(--text-main-light);
	color: var(--form-input-text);
	width: 90%;
	height: 60%;
	max-width: 500px;
	text-align: center;
}
.text-input-container{
	background-color: #1b69cf;
	border-radius: 10px;
	padding: .5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
/* .alert-progress-bar{
	width: 100%;
	height: 20px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.bar-content{
	display: block;
	animation: progress-animation linear 5s;
	width: 100%;
	height: 18px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
} */
.green1{
	background-color: var(--color-secondary);
}
.green{
	background-color: var(--color-primary);
}
.red1{
	background-color:  #ff4242;
}
.red{
	background-color: #d31414
}
.blue1{
	background-color: #1877F2;
}
.blue{
	background-color: #7baff3;
}

.alert-img{
	width: 150px;
	height: 150px;
	border-radius: 10px;
	margin-bottom: .1rem;
}
.alert-text{
	padding: .6rem ;
	margin: 0 1rem;
	background-color: var(--button-background);
	border-radius: 10px;
	color: var(--button-text);
	text-align: center;
	font-size: 1.6rem;
	font-weight: bold;
}

.alert-text-error{
	padding: 1rem ;
	margin: 0 1rem;
	background-color: #bb2929;
	border-radius: 10px;
	color: var(--button-text);
	text-align: center;
	font-size: 1.5rem;
	font-weight: bold;
	
}
.alert-text-info{
	padding: 1rem ;
	margin: 0 1rem;
	background-color: #1b69cf;
	border-radius: 10px;
	color: var(--button-text);
	text-align: center;
	font-size: 1.5rem;
	font-weight: bold;
	
}

.custom-alert-error{
	box-shadow: 2px 2px 8px 4px #7a2323;
}
.custom-alert-success{
	box-shadow: 2px 2px 8px 4px var(--button-hover);
}
.custom-alert-info{
	box-shadow: 2px 2px 8px 4px #5994e0;
}
.alert-input{
	border-radius: 10px;
	height: 50px;
	width: 100px;
	border:none;
	text-align: center;
	font-size: 1rem;
}
.boton-input{
	border-radius: 10px;
	width: 150px;
	height: 40px;
	margin: .7rem;
	padding: .3rem;
	font-size: 1.2rem;
	font-weight: 700;
	border: none;
}